@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;

  .wrap {
    width: 500px;
  }
}

$height: 46px;

.select {
  position: relative;
  width: 100%;
  z-index: 20;

  .fa-chevron-down {
    transition: 0.15s;
  }

  &.open {
    .select__dropdown {
      display: block;
    }

    .select__backdrop {
      display: block;
    }

    .select__input {
      border-bottom: none;

      .fa-chevron-down {
        transform: scaleY(-1);
      }
    }
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $height;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 1rem;
    cursor: pointer;
  }

  &__dropdown {
    display: none;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #ccc;
    top: $height;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__backdrop {
    display: none;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
  }

  &__item {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    transition: 0.15s background-color ease-in;

    &.selected {
      background-color: bisque;
    }

    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
  }
}
